.clothes-show-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    text-align: center;
}

.clothes-show-header__logo {
    text-align: center;
}

.clothes-show-header__logo img {
    height: 100px;
    margin: 0 auto;
}

.clothes-show-header__logo p {
    font-size: 1.2rem;
    font-style: italic;
}

.clothes-show-header-logo__text {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 300;
    position: relative;
}

.clothes-show-header-logo__text::after {
    position: absolute;
    content: "";
    left: -3em;
    right: -3em;
    bottom: 0;
    background: black;
    height: 3px;
}

.clothes-show-header__title {
    width: 100%;
    background: black;
}

.clothes-show-header__title p {
    font-size: 2rem;
    color: white;
    font-style: italic;
}

.clothes-show-header__intro {
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 74%, rgba(194,197,170,1) 100%);  */

    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(194,197,170,1) 100%);  */

    /* `OPTION 1 */
    background: linear-gradient(180deg, #1a1a1a, #000000);
    
    /*  OPTION 2 */
    /* background: linear-gradient(45deg, #FFD700, #D4AF37, #B8860B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 .8px rgba(0, 0, 0, 0.6); */

    /* Option 3 */
    /* background: var(--primary-600); */
    

}

.clothes-show-header__intro p {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    color: #d4af37;
  
}

.clothes-show-header__logo,
.clothes-show-header__title,
.clothes-show-header__text {
    padding: 0 .5em;
}
