.clothes-page-countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.3em 0em;
}

.clothes-page-countdown-inner {
    width:100%;
    text-align: center;
    /* background-color: #FAF9F6; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8em;
}

.clothes-page-countdown-inner h2 {
    /* font-style: italic; */
    color: var(--primary-600);
}
.clothes-page-countdown-inner h2 span {
    font-style: italic;
    color: #D4AF37;
}

.countdown {
    display: flex;
    justify-content: space-around;
    font-size: 2.7rem;
    color: var(--dark-700);
    font-weight: 700;
gap: .5em;
background: linear-gradient(0deg, rgba(0, 0, 0, .3) rgba(0, 0, 0, 0));
}


.countdown-time {
    box-shadow: 1px 0 1px rgba(147, 159, 95, .3);
    padding-right: .3em;
    /* color: #a15722; */
    /* color: #b75e38; */
    /* color: #a3985c; */
    color: #C39EA0
    /* -webkit-text-stroke: .05rem black;
    text-stroke: .05rem black; */
}

.countdown-block {
    display: block;
    font-size: .5em;
    font-style: italic;
    color: #DAA520;
    -webkit-text-stroke: 0px black;
    text-stroke: 0px black;

}