.images-container {
    display: flex;
    gap: 1.3em;
    justify-content: center;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }

  .clothes-form {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }