/* Typography */
input[type='file'] {
  color: rgba(0, 0, 0, 0);
  opacity: 0;
  display: none;
}

.img-upload-btn {
  background: var(--primary-300);
  color: white;
  padding: .5em 1em;
  border-radius: 30px;
  display: inline-block;
}

.clothes-upload-main {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.clothes-upload-main__title {
  color: var(--primary-600);
  font-weight: 900;
  font-size: 2rem;
  padding: 1.3rem;
}

.clothes-details__title {
  font-size: 2.5rem;
  color: var(--primary-600);
  position: absolute;
  top: -1.2rem;
  background: white;
}

.clothes-upload-main {
width: 80%;
max-width: 1200px;
  display: flex;
  gap: 1.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}


.clothes-upload-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clothes-upload-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.3em;
}

.clothes-upload-button {
  border-radius: 30px;
  padding: .8em 1em;
}

.btn-top {
  background-color: var(--primary-600);
  color: white;
}

.btn-trouser {
  background-color: var(--table-500);
}

.btn-shoe {
  background-color: var(--primary-300);
} 

.btn-accessory {
  background-color: var(--table-300);
}

.clothes-upload-details {
  padding: 1em;
  /* border: 1px solid var(--primary-300); */
  outline: 2px solid var(--primary-300);
  outline-offset: -1rem;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
}





/*  CLOTHES FORM LAYOUT */
.clothes-form {
  padding:1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
  /* border: 1px solid var(--primary-300); */
  width: 100%;
}

.images-input {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.clothes-form-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3em;

}

.clothes-form-details {
  display: flex;
  flex-direction: column;
gap: 1.3em;
text-align: left;
}

.clothes-input {
  display: flex;
  flex-direction: column;
}

.clothes-input > select,
.clothes-input > input {
  /* max-width: 250px;
  margin: 0 auto; */
  border-radius: 30px;
  padding: .1em 3em;
  border: none;
  background: var(--primary-300);
  color: white;
}

.clothes-input > select {
  width: 100%;
}



.clothes-input > fieldset {
  border: 1px solid var(--primary-300);
}

/* .size-checkboxes {
  display: flex;
  gap: 1.3em;
} */

.size-checkbox {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid var(--primary-300);
}

/* .clothes-form > div {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
} */

.clothes-sex-input {
  display: flex;
  flex-direction: column;
}
.clothes-price-input {
  display: flex;
  flex-direction: column;
}

/* .clothes-sex-input > input,
.clothes-price-input > input {
  max-width: 250px;
  margin: 0 auto;
} */

.clothes-description-container {
  display: flex;
  flex-direction: column;
}

.clothes-description-container > textarea {
  border: 1px solid var(--primary-300);
  border-radius: 10px;
}





.clothes-form__btn {
  background: var(--table-500);
  padding: .8em 2em;
  border-radius: 30px;
  color: black;
  font-size: 1.9rem;
  transition: all 150ms ease-in-out;
}


.clothes-form__btn:hover {
  transform: scale(1.1);
}


/* CLOTHES UPLOADED SECTION */

.clothes-section {
  display: flex;
  flex-direction:column;
  gap: 2.4em;
  width: 100%;
  margin-top: 2em;
}

.clothes-upload-save-btn {
  background: var(--primary-300);
  color: var(--primary-600);
  padding: .5em 1.3em;
  border-radius: 30px;
  font-size: 1.9rem;
}


/*  CLOTHES DETAILS */

.clothes-section {
  border: 2px solid var(--primary-300);
  border-radius: 30px;
  padding: 1.3em;
}

.clothes-section__title {
  font-size: 2.7rem;
  color: var(--primary-600);
  margin-bottom: .8em;
}
.clothes-details {
  width: 100%;

}

.clothes-details-text__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-300);
}

.clothes-container {
  outline: 1px solid var(--primary-300);
  outline-offset: 1rem;
  border-radius: 30px;
}