.cloth-page-slide-container {
    position: relative;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    color: white;
}

.carousel-btn-prev {
    left: 0;
}

.carousel-btn-next {
    right: 0;
}