.clothes-show-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    text-align: center;
}

.clothes-show-header__logo {
    text-align: center;
}

.clothes-show-header__logo img {
    height: 100px;
    margin: 0 auto;
}

.clothes-show-header__logo p {
    font-size: 1.2rem;
    font-style: italic;
}

.clothes-show-header-logo__text {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 300;
    position: relative;
}

.clothes-show-header-logo__text::after {
    position: absolute;
    content: "";
    left: -3em;
    right: -3em;
    bottom: 0;
    background: black;
    height: 3px;
}

.clothes-show-header__title {
    width: 100%;
    background: rgb(0,0,0);
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(46,51,37,1) 86%);  */

}

.clothes-show-header__title p {
    font-size: 2rem;
    /* background: linear-gradient(45deg, #ffffff, #dcdcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3); */
    color: white;
    font-style: italic;
    padding: .7em;
}

.clothes-show-header-title__accent {
    color: #D4AF37;
    font-weight: 700;
}

/* .clothes-show-header__intro {

    background-image: url('../../public/intro-images/immagine-copertina-4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3em;
    position: relative;
    isolation: isolate;
    text-align: center;


} */

/* .clothes-show-header__intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: -1;

} */

/* .clothes-show-header-intro__inner {
    width: calc(100% + 6em);
    margin: 0 auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.5) 21%, rgba(46,51,37,.5) 86%); 
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8.7px);
    margin-left: -3em;
} */

.clothes-show-header-intro__inner {
    width: 80%;
    margin: 0 auto;
    background: #FAF9F6;
    border: 5px solid var(--dark-700);
    border-image: linear-gradient(174deg, rgba(51,51,51,1) 52%, rgba(212,175,55,1) 100%);
    border-image-slice: 1;
}

.clothes-show-header__intro p {

    border-radius: px;

}


.clothes-show-header__intro p {
    font-size: 2rem;
    /* font-style: italic; */
    font-weight: 700;
    color: var(--dark-700);
    padding: .8em;
}

.clothes-show-header__logo,
.clothes-show-header__title,
.clothes-show-header__text {
    padding: 0 .5em;
}