.form-container {
    width: 100%;
    max-width: 450px;
    padding: 2rem 0;
    font-family: "Playfair Display", serif;
    background-color: var(--primary-600);
}


/* ǸEW */
/* .form-header {
    height: 250px;
    width: 100%;
    padding-left: 1.3em;
    background: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
} */

.form-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header-subtitle p {
    color: white;
    font-size: 2.25rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    line-height: 1.35;
}

.form-header-description p {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.35;
    padding: 1.1rem 0;
}

.form-header-description {
    background-color: var(--primary-300);
    padding: 0rem 5rem;
    margin-top: 1rem;
}

/* .data-section__title,
.sizes-section__title {
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary-300);
} */

.form-danger {
    font-size: 1.2rem;
    text-align: center;
    background: var(--danger);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: .3em;
    border-radius: 30px;
    padding: .1rem 1rem;
}

.form-danger-sm {
    font-size: .9rem;
    border-radius: 0;
    position: relative;
    z-index: 2;
}


/*  FORM */

.post-form {
    width: 100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.data-section {
    background: url('../../public/intro-images/contorno-figura-donna.svg');
}

.sizes-section {
    background: url('../../public/intro-images/contorno-figura-uomo.svg');
}

.data-section,
.sizes-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
    margin-bottom: .8em;
    width: 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    margin-bottom: 2em;
}

/*  FORM INPUTS*/


select.max-width {
    width: 100% !important;
}

.form-input,
.form-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.25rem;
    width: 80%;
    margin: 0 auto;
}


.form-input input {
    border: none;
    border-radius: 30px;
    background: var(--primary-300);
    color: white;
    padding: .5rem 0rem .5rem 1.5rem;
    width: 100%;
}

.form-input input::placeholder {
    color: white;
    font-style: italic;
    opacity: 1;
}

.form-input input:focus {
    border-color: black;
    outline: black;
}


.form-dropdown select {
    font-style: italic;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: .5rem 0rem .5rem 1.5rem;
}

.form-dropdown option {
    font-style: italic;
}

.dropdown-light>select {
    background: var(--primary-300);
    color: white;
}

.consent-section {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

/*  UTILITY */
.has-top-border-shadow {
    box-shadow: inset 0 1px 0 hsl(224, 84%, 74%);
}

.has-bottom-border-shadow {
    box-shadow: 0 3px 0 hsla(220, 7%, 84%, .1);
}

.has-inner-box-shadow {
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1),
        inset 0 -2px 2px hsla(0, 0%, 100%, .15);
}

.btn-fill {
    background: var(--primary-300);
    color: white;
    padding: .5em 1.3em;
    border-radius: 30px;
    font-size: 1.3em;
    font-family: inherit;
    margin-top: 1.3em;

}

.flex-row {
    display: flex;
}

.has-left-border-radius {
    border-radius: 30px 0 0 30px !important;
    border-right: 1px solid rgba(46, 51, 37, .5) !important;

}

.has-right-border-radius {
    border-radius: 0 30px 30px 0 !important;
    border-left: 1px solid rgba(46, 51, 37, .5) !important;
}

.has-no-border-radius {
    border-radius: 0 !important;
}

.num-arrow-hidden::-webkit-outer-spin-button,
.num-arrow.hidden::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num-arrow-hidden {
    -moz-appearance: textfield;
}

/* POSITIONING DATE OF BIRTH FAKE PLACEHOLDER */

.dob-section {
    position: relative;
}

.dob-placeholder {
    position: absolute;
    inset: 0;
    background: black;
    color: white;
    /* pointer-events: none; */
    /* margin-left: 2em; */
}

.dob-placeholder {
    padding-left: 1.5rem;
    font-style: italic;
    border: none;
    border-radius: 30px;
    background: var(--primary-300);
    color: white;
}


/* @media screen and (min-width: 670px) {
    .form-container {
        width: 90%;
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100px 100px 1fr;
    }

    .post-form {
        display: grid;
        grid-template-columns: 1fr 50px 50px 1fr;
        grid-template-rows: 1fr 50px 50px 1fr;
        grid-column: 2;
        grid-row: 1/-1;



    }

    .row-ls {
        flex-direction: row;
        grid-row:3/4;
        grid-column: 4;
    }

    .row-ls label {
        font-size: .6rem;
    }

    .form-header {
        grid-row: 2/3;
        background-color: var(--primary-400);
        padding: 3em;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    }

    .data-section {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        width: 90%;
        display: grid;
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 0
    }


    .data-section__title {
        grid-column: 1/-1;
        text-align: left;
    }

    .sizes-section {
        grid-column: 1/3;
        grid-row: 2/-1;
    }
    
    input {
        width: 100%;
    }

 

    .form-button {
        grid-column: 4;
        grid-row: 4;
    }

    .form-input,
    .form-dropdown {
        font-size: 1rem;
    }

    .form-title {
        font-size: 1.3rem;
    }

    .form-subtitle {
        font-size: 1.1rem;
    }
} */



/*    SUCCESS PAGE */

/* .success-page {
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-page-inner {
    background: var(--primary-700);
    color: var(--primary-100);
    width: 80%;
    height: 80%;
    padding: .8rem;
    border-radius: 10px;
    box-shadow: 0, 0, 3px rgba(0, 0, 0, .1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success-page__subtitle {
    font-size: 1.5rem;
} */

/* .has-text-stroke-dark {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-500);
} */