.navbar {
    width: 100%;
    background: var(--primary-100);
    padding: 1em;
}

.navbar-inner {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.nav-button {
    font-size: 1em;
    padding: .2em .5em;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.nav-button:hover {
    transform: scale(1.1);
}

.nav-button-light {
    background: var(--dark-500);
    color: var(--primary-100);
}

.nav-button-danger {
    background: var(--danger);
    color: var(--primary-100);
}