table {
    border-collapse: collapse;
    max-width: 1200px;
    /* border: none; */
}

thead {
    position: sticky;
    top: 0;
}

th,
td {
    padding: 1.3em;
}

td {
    border: 1px solid var(--table-700);
}

tr:nth-child(even) {
    background-color: var(--table-100);
}



.th-dark {
    background-color: var(--primary-300);
    color: white;
}

.th-light {
    background-color: var(--danger-light);
    border-right: 1px solid var(--table-700);
    color: white;
}
.th-light select {
    background: #b66933;
}

tbody {
    background-color: white;
    color: var(--table-700);
    font-weight: 700;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
    border-right: none;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}


label {
    margin-right: .5em;
}

select {
    background: var(--table-600);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
}

.option-empty {
    display: none;
}